<div class='article'>
	<h2><%= article.title %></h2>
	<p><%= likes_string(article) %></p>

	<%= form_for @like do |f| %>
		<%= hidden_field(:like, :article_id, value: article.id) %>

 		<%= f.submit :Like, class: 'submit-button' %>
	<% end %>
</div>