<div class='article'>
	<h2><%= article.title %></h2>
	<p><%= article.description %></p>
	<p><%= article.likes %></p>

	<%= form_for @like do |f| %>
		<%= hidden_field(:like, :article_id, value: article.id) %>

 		<%= f.submit %>
	<% end %>
</div>